/*=========== GLOBAL ==========*/

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:600|Playfair+Display:700i');

/*font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;*/

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #A09F9F;
}

p {
  font-family: 'Lato', sans-serif;
  color: #A09F9F;
}

/*========== HEADER ==========*/

#logo {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding-top: 7px;
}

.navbar {
  background-color: #252525;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0,.4);
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: rgba(0,0,0,.4);
  color: #fff;
}

/*========== CONTENT ==========*/

.content-block {
  margin-top: 100px;
}

#title {
  text-align: center;
  border-bottom: solid #DA293A 5px;
  padding-bottom: 15px;
  font-size: 72px;
}












/*========== SOCIAL MEDIA SIDEBAR ==========*/

.social-col {
  display: flex;
  flex-direction: column;
  margin-top: -150px;
  position: fixed;
}

.social-boxes {
  height: 50px;
  width: 100px;
  position: relative;
  left: -50px;
  transition: 200ms ease .05s;
}

.social-boxes:hover {
  transform: translateX(10px);
}

.social-boxes a {
  text-decoration: none;
}

.social-boxes>a>i {
  color: #fff;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

#facebook {
 background-color: #3B5998;
}

#twitter {
  background-color: #1DA1F2;
}

#print {
  background-color: #252525;
}

#mail {
  background-color: #6C6B6B;
}

#plus {
  background-color: #DA293A;
}

































/*.*/
